<!DOCTYPE html>
<html>
<head>
	<title>Slide Navbar</title>
	<link rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
	<div class="main">  	
		<input type="checkbox" id="chk" aria-hidden="true">

			<div class="signup">
				<form>
					<label for="chk" aria-hidden="true">Sign up</label>
					<input type="text" name="txt" placeholder="User name" [(ngModel)]="signupObj.userName" require="">
					<input type="email" name="email" placeholder="Email" [(ngModel)]="signupObj.email" required="">
					<input type="password" name="pswd" placeholder="Password" [(ngModel)]="signupObj.password" required="">
					<button (click)="onSignUp()">Sign up</button>
				</form>
			</div>

			<div class="login">
				<form>
					<label for="chk" aria-hidden="true">Login</label>
					<input type="userName" name="userName" placeholder="userName" [(ngModel)]="loginObj.userName" required="">
					<input type="password" name="password" placeholder="Password" [(ngModel)]="loginObj.password" required="">
					<button (click)="onLogin()">Login</button>
				</form>
			</div>
	</div>
</body>
</html>