.mat-card{
    max-width: 600px;
    margin:2em auto;
    text-align: center;
    max-height: 600px;
    background-color: white;
}
.header{
    text-align: center;
}
.full-width{
    width:80%;
}
.forgot-password{
    padding-left: 0px;
}
.email-input{
    padding-top:10px;
}
.aLink{
    float: right;
    padding-right: 60px;
    text-decoration: none;
}