<mat-card class="mat-card">
    <mat-card-content>
        <div class="header">
            <h2>LOGIN</h2>
        </div>
        <form (ngSubmit)="onLogin()" name="loginForm" [formGroup]="loginForm">
            <div>
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input formControlName="email" matInput required/>
                    <mat-error *ngIf="'loginForm.get('email').errors?.required'">
                        Required email address
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <span class="aLink">Forgot Password?</span>
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Password</mat-label>
                    <input formControlName="password" matInput [type]="hide ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? "visibility_off":"visibility"}}</mat-icon>
                    </button>
                    <mat-error *ngIf="'loginForm.get('password').errors?.required'">
                    Required Password
                </mat-error>
                </mat-form-field>
            </div>
            <button mat-flat-button color="primary">Login</button>
        </form>
    </mat-card-content>
</mat-card>