<div class="container mt-4">
    <div>
        <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Name</label>
              <input type="text" [(ngModel)]="name" [ngModelOptions]="{standalone:true}" class="form-control" id="name" placeholder="name">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Address</label>
              <input type="text" [(ngModel)]="address" [ngModelOptions]="{standalone:true}" class="form-control" id="address"  placeholder="address">

            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Phone</label>
                <input type="text" [(ngModel)]="phone" [ngModelOptions]="{standalone:true}" class="form-control" id="phone" placeholder="phone">

              </div>
            <button type="submit" (click)="register()" class="btn btn-primary">Submit</button>
          </form>
    </div>
</div>
